/* Setup ...................................................................*/

@font-face {
    font-family: Cabin;
    src: url(Cabin-Medium-TTF.ttf);
}

html,
body {
    height:100%;
    font-size:12px;
    width:100%;
}

html {
    display:table;
}

body {
    color:#444;
    background-color:#fafafa;
    background-image:url(../img/body-bg.png);
    display:table-cell;
    font: 16px/25px "Cabin", Arial, "Helvetica Neue", "Helvetica", sans-serif;
}

/* Structure ...............................................................*/

.app {
    margin:0px auto;  
}

header, section {
  padding:6px;
}

#container {
}

/* Basic styles / type .....................................................*/

h1 {
  margin:0px;
  overflow:visible;
  padding:0px;
  text-align:center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
  margin:0;
  padding:0;
}

a {
  color: #4e58b5;
}


/* Header ..................................................................*/

header {
  background:#b79fae;
  color:#fafafa;
  text-transform:uppercase;
  font-weight:bold;
}

header h1 {
  font-size:16px;
  font-weight:bold;
}

header h1 a {
  color:#fff;
  text-decoration:none;
}

header .button {
  float:left;
  padding:2px;
  background:#eee;
}

/* Home ....................................................................*/
.near-me {
  margin:10px;
}

/* Search ..................................................................*/
#search {
  margin:10px;
}

#search input { 
  width:75%;
  display:block;
  margin:0px auto;
  padding:5px;
  border-radius:10px;
  font-size:16px;
}

/* Page ....................................................................*/
h2.page-header {
  text-align:center;
  margin-top:12px;
  font-weight:bold;
}

.page p, 
.page li {
}

#page-content {
  margin:10px;
  padding:1px 10px;
  background:#fefefe;
  border-radius:10px;
  border:1px solid #ddd;
}

.page-list {
  margin:10px;
  background:#fefefe;
  border-radius:10px;
  border:1px solid #ddd;
}

.page-list .page {
  border:none;
  margin:0;
  padding:0;
}

.page-list .page a {
  display:block;
  padding:15px 10px;
  text-decoration:none;
  border-bottom:1px solid #ddd;
}

.page-list .page:last-child a {
  border-bottom:0;
}

/* Map .....................................................................*/

#map-container {
  display:none;
  margin-top:12px;
  padding:1px;
  border:1px solid #ddd;
  border-right:0;
  border-left:0;
}

.map {
  height:180px;
}


/* Animations ..............................................................*/


@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.image_frame,
.hide {
    display:none;
}

/* portrait */
/* @media screen and (max-aspect-ratio: 1/1) */
.app {
}

/* lanscape (when wide enough) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:445px) {
    .app {
    }
}
